.idea/
.vscode/

.github/
api/
coverage/
dist/
media/
src/
styles/
test/
test-integration/
test-support/
types/

.prettierignore
.prettierrc.mjs
.vale.ini
CHANGELOG.md
eslint.config.mjs
GENERATOR_DOC.md
stylelint.config.mjs
tsconfig.json
vitest.config.mts
webpack.config.js
